/* modification du corp */
body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(150, 158, 161);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-image:url(../image/MicrosoftTeams-image.png);
    background-size: cover;
}

form{
    background-color: #8e979a;
    padding: 30px;
    border-radius:15px; 
    opacity: 0.9;
}
form h1{
    font-size: 28px;
}
form .separation{
    width: 360px;
    height: 1px;
    background-color: rgb(233, 68, 68);
}
form .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
/* permettent donc de passer d'une structure à l'autre, en modifiant le comportement d'un élément*/
form .corps-formulaire .groupe{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
form .corps-formulaire .gauche .groupe input{
    margin-top: 5px;
    padding: 10px 5px 10px 20px;
    border : 1px solid black;
    outline-color :blue;
    border-radius : 5px;

}
form .corps-formulaire .gauche .groupe i{
    position: absolute;
    left: 0%;
    top: 25px;
    padding: 9px 5px;
    color: rgb(233, 68, 68);

}

.droite{
    margin-left: 40px;
}
.droite .groupe{
    height: 100%;
}
.droite .groupe textarea{
    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 2px solid black;
    outline: blue;
    border-radius: 5px;
    resize: none;
    height: 72%;
}
form .pied-formulaire button{
    margin-top: 10px;
    background-color: rgba(15, 48, 238, 0.61);
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}
/*La propriété de Transformation CSS transform permet de spécifier le type de transformation 2d ou 3d à appliquer sur un élément HTML*/
form .pied-formulaire button:hover{
    transform: scale(1.1, 1.1);
}
